* {
    font-family: "Gowun Dodum", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    background-color: #F6D8C6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-container {
    width: 50%;
    max-width: 1200px;
    height: 70%;
    max-height: 800px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 32px;
    color: #333333;
    margin-bottom: 20px;
}
hr {
    width: 80%;
    border: 1px solid #E0E0E0;
}
form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
}
label {
    width: 30%;
    font-size: 18px;
}
form > div {
    position: relative;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input:focus {
    border-color: #FF6F61;
    outline: none;
}
.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
button {
    width: 30%;
    margin: 0px 10px;
    font-weight: bold;
}
.login-button {
    background-color: #FF6F61;
    border: 2px solid #FF6F61;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
}
.login-button:hover {
    background-color: #FF4C3B;
    box-shadow: 0 0 4px #FF6F61;
}
.login-button:active {
    background-color: #FF3B2A;
}
.login-button:disabled {
    background-color: #E0E0E0;
    cursor: not-allowed;
}
.register-button {
    background-color: #FFFFFF;
    border: 2px solid #FF6F61;
    color: #FF3B2A;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
}
.register-button:hover {
    background-color: #F6D8C6;
    box-shadow: 0 0 4px #D0D0D0;
}
form p {
    position: absolute;
    bottom: -16px;
    right: 0;
    font-size: 10px;
    color: #FF3B2A;
    font-weight: bold;
}
input.valid {
    border-color: green;
}

input.invalid {
    border-color: red;
}

input.success {
    border: 1px solid #E0E0E0;
    background-image: url('https://cdn-icons-png.flaticon.com/512/190/190411.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px 20px;
}
p.disabled {
    display: none;
}
p.show {
    display: block;
}
